PORT {{ manager.port }}
DYNAMICPORTLIST {{ manager.dynamic_port_list }}
AUTOSTART ER *
AUTORESTART ER *, RETRIES {{ manager.autorestart_retries }}, WAITMINUTES {{ manager.autorestart_wait_minutes }}
PURGEOLDEXTRACTS ./dirdat/*, USECHECKPOINTS, MINKEEPDAYS {{ manager.purge_min_keep_days }}
LAGREPORTSHOURS 1
LAGINFOMINUTES {{ manager.lag_info_minutes }}
LAGCRITICALMINUTES {{ manager.lag_critical_minutes }}
