PORT {{ manager.port }}
DYNAMICPORTLIST {{ manager.dynamic_port_list }}
AUTOSTART EXTRACT E*
AUTORESTART EXTRACT *, RETRIES {{ manager.autorestart_retries }}, WAITMINUTES {{ manager.autorestart_wait_minutes }}, RESETMINUTES {{ manager.resetminutes }}
PURGEOLDEXTRACTS /dirdat/*, USECHECKPOINTS, MINKEEPDAYS {{ manager.purge_min_keep_days }}
PURGEMARKERSHISTORY MINKEEPDAYS {{ manager.purge_markers_keep_days }}
LAGREPORTSHOURS 1
LAGINFOMINUTES {{ manager.lag_info_minutes }}
LAGCRITICALMINUTES {{ manager.lag_critical_minutes }}
ACCESSRULE, PROG *, IPADDR *.*.*.*, ALLOW
